# Requirements for expansion_data_exploration
# Note: This file lists dependencies for reference. The marimo notebook uses
# inline dependency management (PEP 723) and will auto-install when run with --sandbox
#
# To install manually:
# pip install -r requirements.txt
# pip install git+https://github.com/mqcomplab/bblean

altair==5.5.0
datasets==4.3.0
marimo
matplotlib==3.10.7
numpy==2.3.4
pandas==2.3.3
rdkit==2025.9.1
requests==2.32.5
scikit-learn==1.7.2
seaborn==0.13.2
tqdm==4.67.1
useful-rdkit-utils==0.92
# bblean must be installed from GitHub:
# git+https://github.com/mqcomplab/bblean
