# Requirements for expansion_data_exploration
# Note: This file lists dependencies for reference. The marimo notebook uses
# inline dependency management (PEP 723) and will auto-install when run with --sandbox
#
# To install manually:
# pip install -r requirements.txt
# pip install git+https://github.com/mqcomplab/bblean

altair
datasets
marimo
matplotlib
numpy
pandas
rdkit
requests
scikit-learn
seaborn
tqdm
useful-rdkit-utils
bblean

